body {
  font-family: "蘋方-繁", "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", "新細明體", "Times New Roman", serif;
  background-color: #f6f6f6;
  transition: all 0.6s ease;
  color: #333;
}


body.dark-mode {
  background-color: #000;
  color: #ececec;
}

hr {
  width: 90%;
  height: 1px;
  background-color: #555;
  border: none;
}

.title {
  text-align: center;
  font-family: Lobster;
  font-size: 1.5rem;
  margin: 40px 0px 10px 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 90%;
  /* 設定卡片的寬度 */
  margin: 10px 10px 20px 10px;
  /* 設定卡片之間的間距 */
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #111;
  transition: all 0.6s ease;
  /* color: #222; */
}

.card.dark-mode {
  background-color: #222;
}

.topic {
  text-align: center;
  padding: 20px 20px 10px 20px;
  font-weight: 700;
}

.content {
  margin: 0 auto;
  /* color: #e2e2e2; */
  padding: 5px 20px 20px 20px;
  width: 90%;
}

footer {
  /* color: #666; */
  font-size: small;
  padding: 10px;
  text-align: center;
}

svg {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

@media (min-width: 768px) {

  /* 平板及以上裝置寬度 */
  .card {
    width: 80%;
  }
}

@media (min-width: 1024px) {

  /* 電腦寬度 */
  .card {
    width: 60%;
  }

  svg {
    right: 40px;
  }

}